{% extends 'base.html' %}
{% block title %} Blog - Detalhe {% endblock title %}
{% block content %}
<div class="post-entry">
    <div class="card">
        <div class="card-header">
            <h2>{{object.title}}</h2>
        </div>
        <div class="card-body">
            <p class="card-text">{{object.content}}</p>
        </div>
    </div>
</div>
<a href="{{post.get_absolute_url_update}}" class="btn btn-primary">+ Edit Post</a>
<a href="{{post.get_absolute_url_delete}}" class="btn btn-danger">- Delete Post</a>
{% endblock content %}